<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versicherungsprämie Berechnung</title>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}" />

</head>
<body>
<!-- Container für Überschrift -->
<div class="headline">
    <h1>Hier können Sie Ihre Versicherungsprämie berechnen</h1>
</div>

<!-- Container für Eingabeformular -->
<div class="input-form">
    <form action="/berechnen" method="POST">
        <label for="km">Jährliche Kilometerleistung:</label>
        <input type="number" id="km" name="km" placeholder="Jährliche Kilometerleistung" min="0" max="2147483647" required>


        <input type="text" id="postcode" name="postcodeValue" placeholder="Postleitzahl der Zulassungsstelle" list="postcode-list" required oninput="filterPostcodes()">
        <datalist id="postcode-list">
            <!-- Optionen werden hier durch JavaScript gesetzt -->
        </datalist>

        <label for="vehicle">Fahrzeugtyp:</label>
        <select id="vehicle" name="vehicle" required>
            <option value="">-- Bitte wählen --</option>
            <option th:each="v : ${vehicleList}" th:value="${v.id}" th:text="${v.name}"></option>
        </select>

        <label>
            <input type="checkbox" name="dataConsent" required>
            Ich stimme der Speicherung meiner IP-Adresse zu, um die Berechnungen und statistische Auswertungen zu ermöglichen.
        </label>


        <button type="submit">Berechnen</button>
    </form>

    <h2>Berechnete Prämie: <span th:text="${premium}">300,00</span> €</h2>
</div>
<div class="footer">
    <p></p>
</div>
<script>
    function filterPostcodes() {
    const input = document.getElementById("postcode").value; // Hol dir den Wert des input-Feldes

    fetch('/filter-postcodes?input=' + encodeURIComponent(input))
        .then(response => response.text())
        .then(data => {
            const datalist = document.getElementById("postcode-list");
            datalist.innerHTML = data;  // Setze die erhaltenen Optionen ins Datalist
        })
        .catch(error => console.error('Fehler beim Abrufen der Postleitzahlen:', error));
    }
</script>

</body>
</html>